# Ambiente virtuale
venv/

# Cartella per la progettazione
progettazione/

# Python cache
__pycache__/
*.py[cod]

# File temporanei
*.db-journal

# File di progetto
*.er

# File contenenti info sul db
*.db

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/
