<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="{{url_for('nuova_bozza')}}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuova Bozza</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <div class="row mb-2">
                        <div class="col-md-6 col-12">
                            <label for="nomeArtista"> Nome Artista</label>
                        </div>
                        <div class="col-2">
                            <label for="giornoInizio"> Giorno di inizio </label>
                        </div>
                        <div class="col-2">
                            <label for="oraInizio"> Ora di inizio </label>
                        </div>
                        <div class="col-2">
                            <label for="durata"> Durata in minuti </label>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <input type="text" class="form-control generic-input" id="nomeArtista" name="nomeArtista" required>
                        </div>
                        <div class="col-2">
                            <select id="giornoInizio" name="giornoInizio" class="form-control">
                                <option value="Venerdì"> Venerdì </option>
                                <option value="Sabato"> Sabato </option>
                                <option value="Domenica"> Domenica </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <select id="oraInizio" name="oraInizio" class="form-control">
                                {% for ora in orari %}
                                    <option value="{{ ora }}"> {{ora | e}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <select id="durata" name="durata" class="form-control">
                                {% for durata in durate %}
                                    <option value="{{ durata }}"> {{durata | e}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="row">
                            <label for="descrizione" class=""> Descrizione evento </label>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center mt-2 mb-3">
                                <div class="row w-100">
                                    <div class="col">
                                        <textarea id="descrizione" name="descrizione" placeholder="Scrivi qui la tua descrizione" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="row">
                            <div class="col">
                                <label for="palco">Seleziona il palco</label>
                            </div>
                            <div class="col">
                                <label for="genere"> Inserisci il genere musicale </label>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col">
                                <select id="palco" name="palco" class="form-control">
                                    {% for x,y in palchi.items() %}
                                        <option value="{{ x }}">{{ x | e }} - {{ y | e }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" id="genere" name="genere" class="form-control generic-input" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">   
                        <div class="col-10">
                            <label for="file" class="form-label">Nuova immagine</label>
                            <div class="d-flex align-items-center gap-2">
                                <input type="file" name="file" id="file" accept="image/jpg" class="form-control w-50" required>
                                <div class="ms-5">
                                    <label class="form-check-label" for="pubblico">Pubblica bozza</label>
                                    <input class="form-check-input" type="checkbox" name="bozzaPubblica" value="Si" id="pubblico">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Annulla </button>
                    <button type="submit" class="btn btn-primary color-coral" name="azione" value="Nuova"> Aggiungi performance </button>
                </div>
            </form>
        </div>
    </div>
</div>