.color-coral{
    background-color: #FF6B6B !important;
    color: white !important;
}

#passwordHelpBlock,
h3,
h4, 
h5,
label{
  color: #3D348B !important;
  font-weight: bold !important;
}

#user_profile h3,
#registration_form h3,
#login_form h3{
    border-bottom: #3D348B !important;
}

.bg-custom-light {
    background-color: #f3eee7; /* un beige più scuro rispetto a #fdf6ec */
}

input[type="email"],
input[type="password"],
input[type="text"],
.select{
    background-color: #FFFDF9;
}

.textarea{
    resize: none;
}

.generic-input{
    background-color: #FFFFFF !important;
}

.border-color-oceanblue{
    border-color: #2C8C99;
}

.btn:hover{
    background-color: #FF924C !important;
    color: white !important;
    transition: background-color 0.5s;
}

.bg-sand{
    background-color: #FFF4D6;
}

.navbar{
    background-color: #FFF4D6; /* sabbia chiara */
    color: #3D348B; /* indaco profondo */
    border-bottom: 2px solid #FF924C; /* linea sottile arancio tramonto */
}

/* Questa regola aggiunge il margine sinistro solo agli elementi .nav-item che seguono un altro .nav-item (quindi non al primo). */
.navbar-nav.flex-row .nav-item + .nav-item {
    margin-left: 1rem; /* equivalente a ms-3 */
}

.profile-img-250px{
    max-width: 250px !important;
}

body{
    background: linear-gradient(to bottom, #a0eaff, #3399ff, #0066cc, #004080);
}
