{% extends "base.html" %}

{% block content %}
<section class="position-relative w-100">
    <img src="{{ url_for('static', filename='images/TrapaniHome.jpg') }}" class="img-fluid w-100" alt="Banner Home">
    <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
        <h1 class="display-4 fw-bold">SoundWaves TP</h1>
        <p class="lead">Scopri il festival musicale più atteso dell’anno!</p>
        <p> Giornate del festival: <b>20/21/22 giugno</b></p>
        <p> Ci trovi: <b> Lungomare Dante Alighieri TP</b></p>
    </div>
</section>
<section>
    <div class="album container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
            {% for pubPerf in performances %}
                {% set indx = loop.index0 %}
                {% include "partials/HomePublicPerformanceCard.html" with context %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}