{% extends "base.html" %}

{% block content %}
    {% include "partials/profile_info.html" with context %}

    <article class="container card border-2 rounded-4 p-3 p-md-4 mt-3 shadow-sm w-75" id="bozze">
        <section class="container mt-3 border-bottom border-3 pb-3">
            <div class="row w-100">
                <div class="col-md-6 d-flex justify-content-center">
                    <h3 class="mb-0"> Le tue performance </h3>
                </div>
                <div class="col-md-6 d-flex justify-content-center mt-md-0 mt-3"> <!-- Così ho margine 0 se vw > md -->
                    <button type="button" class="btn btn-primary color-coral w-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nuova performance
                    </button>
                    
                    <!-- MODALE -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <form method="post" enctype="multipart/form-data" action="{{url_for('nuova_bozza')}}">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuova Bozza</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body container">
                                        {% include "partials/modalNewPerformance.html" with context %}
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center d-lg-block text-center text-lg-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Annulla </button>
                                        <button type="submit" class="btn btn-primary color-coral" name="azione" value="Nuova"> Aggiungi performance </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <!-- Private performances -->
            {% for pp in performancePrivate %}
                <div class="row mt-3 p-3">
                    {% set index = loop.index0 %}
                    {% include "partials/modifyPerformanceForm.html" with context %}
                </div>
            {% endfor %}
        </section>
    </article>
    
    <!-- Public Performances -->
    <article class="container card border-2 rounded-4 p-3 p-md-4 mt-3 shadow-sm w-75" id="performance-pubbliche">
        <h3 class="border-bottom border-3 p-2"> Performance pubbliche </h3>
        <section class="container mt-3">
            {% for pubPerf in publicPerformances %}
                {% set indx = loop.index0 %}
                {% include "partials/PublicPerformance.html" with context %}
            {% endfor %}
        </section>
    </article>

    <!-- Statistiche biglietti -->
    <article class="container card border-2 rounded-4 p-3 p-md-4 mt-3 shadow-sm w-75">
    <h3 class="text-center mb-4 p-2 border-3 border-bottom">Statistiche Vendite Biglietti</h3>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for stat in statistiche %}
        <div class="col">
            <div class="card h-100 text-center border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title fw-bold text-primary">{{ stat["Giorno"] }}</h5>
                    <p class="card-text fs-4 text-warning-emphasis">
                        {{ stat["BigliettiVenduti"] }} biglietti venduti
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <span class="badge color-coral">SoundWaves TP</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</article>

{% endblock %}