{% extends "base.html" %}

{% block content %}
    {% include "partials/profile_info.html" with context %}

    <article class="container border border-5 rounded w-100" id="bozze">
        <section class="container mt-3 border-bottom border-3 pb-3">
            <div class="row w-100">
                <div class="col-md-6 d-flex justify-content-center">
                    <h3 class="mb-0"> Le tue performance </h3>
                </div>
                <div class="col-md-6 d-flex justify-content-center mt-md-0 mt-3"> <!-- Così ho margine 0 se vw > md -->
                    <button type="button" class="btn btn-primary color-coral w-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nuova performance
                    </button>
                    
                    <!-- MODALE -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <form method="post" enctype="multipart/form-data" action="{{url_for('nuova_bozza')}}">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuova Bozza</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body container">
                                        {% include "partials/modalNewPerformance.html" with context %}
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center d-lg-block text-center text-lg-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Annulla </button>
                                        <button type="submit" class="btn btn-primary color-coral" name="azione" value="Nuova"> Aggiungi performance </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <!-- Private performances -->
            {% for pp in performancePrivate %}
                <div class="row mt-3 p-3">
                    {% set index = loop.index0 %}
                    {% include "partials/modifyPerformanceForm.html" with context %}
                </div>
            {% endfor %}
        </section>
    </article>
    
    <article class="container border border-5 rounded p-4 my-5 mx-auto w-100 align-items-center" id="performance-pubbliche">
        <h3 class="border-bottom border-3 p-2"> Performance pubbliche </h3>
        <!-- Public Performances -->
        <section class="container mt-3">
            {% for pubPerf in publicPerformances %}
                <div class="shadow-sm p-4">
                    {% set indx = loop.index0 %}
                    {% include "partials/PublicPerformance.html" with context %}
                </div>
            {% endfor %}
        </section>
    </article>

{% endblock %}